div.form-wrapper{width: 500px;
    padding:50px;
    margin: auto;
    background:white;
    color:#484848;
}
div.div-background-img{
  height:calc(100vh - 56px);
  display:flex;
  background-image: url("./../imgs/landing.jpg");
  background-repeat: round
}
div.div-gray{
  background: #FAFAFA
}
.margin-bottom{
  margin-bottom:25px
}
.margin-left{
  margin-left: 10px
}
a.navbar-brand{
  color: white;
}
div.flex{
  display: flex;
  justify-content: space-between;
}
.small-input{width:190px}
div.navbar-brand{
  padding: 12px;
  margin-left: 20px;
  position: absolute;
  z-index: 1;
}
button.wide{
  width:100%
}
button.margin{
  margin-bottom:15px
}
a.nav-link{
  margin-right: 30px
}
div.show-emails{
  padding-top:50px
}
select, .input{
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  background-color: white;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

div.email-box{
  width:70%;
  background-color:rgba(252, 249, 84, 0.3);
  padding:30px;
  margin-bottom:20px;

}
p.error-message{
  color: red
}  

div.card {
  width:500px!important;
  margin-bottom: 30px
}
label.bold{
  color:#767676;
  font-size: 15px;
  font-weight: 700
}
ol.breadcrumb{
  margin-bottom:0
}

div.dropzone{
    height:300px ;
    width: 100%;
    max-width: 500px;
    border: 2px dashed #C5D0DE;
    border-radius: 6px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 9px 0 rgba(0,0,0,0.03);
    margin-top: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px 5px;

}
.form-description{
  font-size: 14px;
  font-weight: 300
}
div.select-country{
  display:grid;
  margin-bottom:15px
}

div.home-div{
width:60%;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
padding:50px 30px;
margin:25px auto;
border-radius: 12px;
}
div.home-img-section{
display:flex;
justify-content: space-around;
}

img.dropzone-img{
   max-width: 380px;
    height: 100%;
}
p.subtitle-home{
  font-size:14px;
  width:90%
}
img.img-home{
  width:auto;
  height: 200px;
}
h2.title-home{
  font-size: 24px
}
button{
  background-color: #343a40!important;
  color:white;  
  height: calc(1.5em + .75rem + 2px);
  border-radius: 0.25rem;
  outline:none!important;
  border:none
}
button:focus{
  box-shadow: 2px 1px 2px gray;}
button.button-home{
  height:45px;
  width:120px;
  border-radius: 5px;
  color: white;
  outline:none
}
div.button-home-div{
  text-align: center;
  margin-top:30px;
}

.flex-container{
  display: flex
}
.justify-between{
  justify-content:space-between
}
img.transition{
  transition: all .5s ease-in-out; 
}
img.transition:hover{
  transform: scale(1.2); 
  cursor:pointer
}
img.single-home-img{
  height:220px;
width:350px

}
.overflow-hidden{
  overflow:hidden
}
div.single-house-container{
  display:flex;
  justify-content: space-evenly;
}
.margin-top{
  margin-top:30px
}
.subtitle-bold{
  font-weight: 700
}
.filter-bold{
  font-weight: 500
}
img.icon{
  height:17px;
  margin-right:10px
}
div.home-date{
  border: 1px solid #e4e4e4 !important;
}
.center{
  justify-content: center
}
.country{
background-color: rgba(0,0,0,0.6); 
width:335px;
height:230px;
border-radius: 7px;
overflow: hidden;
margin-bottom: 20px
}

.country img{
  width:100%;
  height:100%;
  z-index: -1;
  transition: all .5s ease-in-out; 
  cursor: pointer;
}
.country img:hover{
  transform: scale(1.2); 
}
.light-text{
  margin-bottom: 0; 
  font-weight: 100;
  font-size:15px
}
.overview-div{
  display:flex; 
  justify-content:space-between; 
  align-items:baseline; 
  width:78%;
  margin: 10px auto
}

div.card{
  width:70%!important;
  border:none!important;
  margin-top:30px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}
div.card-header{
  background-color:transparent;
}
div.card-footer{
  background-color: transparent;
}
div.payment-option-box {
  background-color: #fff;
  padding: 20px;
}
button.payment-option {
  margin-bottom:30px;
  width: 70%;
  background-color:transparent!important;
  color: rgba(0,0,0,0.6); 
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}
.payment-form {
  background-color: #fff;
  padding: 20px;
  widows: 35%;
  display: grid;
}
.form-item {
  display: inline-grid;
}
.payment-p {
  padding-bottom: 10px;
  font-size: 14px;
}
img.logo-payment {
  margin-right:40px;
  width: 30px;
}
li{
  list-style:none
}
ul{
  padding:none!important
}

